.navbar-brand{
    color: #fa8c5c;
}
.navbar{
    background-color: white !important;
}
.nav-item, .nav-link, .active{
    color: #fa8c5c;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #fa8c5c;
}
.morespaceupLogo{
    font-family: 'Fugaz One', cursive;
}

.navbarCustomBg{
    box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.78);
-webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.78);
-moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.78);
}
.brandBigFont{
    color: #fa8c5c;
    font-size: 4vw;
}
.customBtn{
    background-color:#fa8c5c;
    border-radius: 0%;
    border: none;
    text-transform: uppercase;
    padding: .75% 2% .75% 2%;
}
.imageContainer{
    width: 65%;
}
.textLine{
    border-top: 2px solid black;
    max-width: 50px;
    margin: 0 auto 16px;
    opacity: 1;
}

.card-title, .card-link{
    color: #fa8c5c;
}
.customMT{
    
    margin-top: 5%;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #fa8c5c;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    font-size: 2em;
  }
  #myBtn:hover {
    background-color: #fff;
    color: #fa8c5c;
    border: 2px solid #fa8c5c;
  }
.contentDiv{
    padding-top: 80px;
}
.contactsContainer{
    width: 80%;
}

.contactsBtn{
    background-color:#fa8c5c;
    border-radius: 0%;
    border: none;
    text-transform: uppercase;
    padding: 5% 8% 5% 8%;
}
.custcard{
    font-weight: bold;
    color: black;
    width: 20em;
}
.custcard p{
    font-size: 1.2em;
}
.custcardTitle{
    font-size: 1.5em;
}
.contactcard{
    text-align: left;
}
.socialmediaicons{
    color: white;
    background-color: #fa8c5c;
    border: none;
}
.customRoundButton{
    box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.78);
-webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.78);
-moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.78);
    border-radius: 100%;
    background-color: #fa8c5c;
    color: white;
    width: 100px;
    height: 100px;
    z-index: 100;
    padding: 30px;
    text-align: center;
    position: fixed;
    top: 50% !important;
    right: 20px;
    font-size: .8em;
    font-weight: bold;
    
}