.navbar-brand{
    color: #fa8c5c;
}
.navbar{
    background-color: white !important;
}
.nav-item, .nav-link, .active{
    color: #fa8c5c;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #fa8c5c;
}
.morespaceupLogo{
    font-family: 'Fugaz One', cursive;
}

.navbarCustomBg{
    box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.78);
-webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.78);
-moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.78);
}
.brandBigFont{
    color: #fa8c5c;
    font-size: 4em;
}
.customBtn{
    background-color:#fa8c5c;
    border-radius: 0%;
    border: none;
    text-transform: uppercase;
    padding: .75% 2% .75% 2%;
}
.imageContainer{
    width: 85%;
}
.textLine{
    border-top: 2px solid black;
    max-width: 50px;
    margin: 0 auto 16px;
    opacity: 1;
}

.card-title, .card-link{
    color: #fa8c5c;
}
.customMT{
    
    margin-top: 5%;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #fa8c5c;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    font-size: 2em;
  }
  #myBtn:hover {
    background-color: #fff;
    color: #fa8c5c;
    border: 2px solid #fa8c5c;
  }
.contentDiv{
    padding-top: 80px;
}
  